doctype html
html


  head
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset="UTF-8")
    title LASKA Band
    link(rel='stylesheet', type='text/css', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/styles/css/main.css')
    
    
  body
    p hello
  
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/js/functions.js")
