doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset="UTF-8")
    title Laska the Band
    link(rel='stylesheet', type='text/css', href='styles/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='styles/css/main.css')
    link(rel='stylesheet', type='text/css', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='https://npmcdn.com/flickity@2/dist/flickity.css')
    
  nav
    .side-nav
      .left-sideNav
        a(href="#Home").page-scroll Home
        a(href="#Shows").page-scroll Shows
      .right-sideNav
        a(href="#Music").page-scroll Music
        a(href="#Photos").page-scroll Photos
        a(href="#Contact").page-scroll Contact
    
  body#Home 
    header.fog-container
      h1.sr-only LASKA
      nav.header-nav
        .left-nav
          a(href="#About").page-scroll About
        .right-nav
          a(href="#Shows").page-scroll Shows
          a(href="#Music").page-scroll Music
          a(href="#Photos").page-scroll Photos
          a(href="#Contact").page-scroll Contact
      .logo
    
    section#About
      .about-contianer
        h2.section-heading About
        p LASKA (formerly The Morton Sisters) from Eau Claire, WI provide the perfect soundtrack for embracing the beauty in pain.  Songwriting sisters Hannah Mae, Bex and Mookie weave influences of Alternative, Americana and Desert Rock with raw emotion in their songs. They are all confident vocalists knowing what each will bring to the table to sing lead, but also support one another with beautifully hard-hitting harmonies.  Topping off the harmonic sheen is an instrumental arsenal including violin, guitar, banjo, mandolin, ukulele, and cello.  Combine this with an un-apologetic rhythm section in tow, including Evan Middlesworth on electric guitar, Zach Brawford on drums, and Ethan Schmidt on Bass, and the whole of this band is far greater than the sum of its parts.
        .brail-container
          img(src="images/brail-logo.png" data-wow-delay="1s").wow.fadeIn.brail-logo
          
          .laska-letters
            span L 
            span A
            span S
            span K
            span A
                    
    section#Shows
      .shows-container
        h2.section-heading Shows
        .events-list
          iframe(class="google-content" src='https://docs.google.com/document/d/1bfj48ezTJ3RkPC_1hhKyAe0cJH-fcnsBNtlLZyQB2hI/pub?embedded=true')
        //
          p 
            b September 23 
            | Uncommon Ground – Chicago, IL

      a(href="https://www.facebook.com/laskatheband/events" target="blank").facebook-events-btn facebook events
        
    section#Music
      h2.section-heading Music
      iframe(src='https://www.youtube.com/embed/OcoPOUVsJIA', frameborder='0', allowfullscreen='').musicVideoOne
      
      a(href="https://laska1.bandcamp.com/track/not-that-great" target="blank").band-camp-btn.wow.pulse band camp
        
    section#Photos
      h2.sr-only Photos
      .carousel
        .carousel-cell
          img(src="images/photo10.jpg")
        .carousel-cell
          img(src="images/photo9.jpg")
        .carousel-cell
          img(src="images/photo8.jpg")
        .carousel-cell
          img(src="images/photo11.jpg")
        .carousel-cell
          img(src="images/photo12.jpg")
        .carousel-cell
          img(src="images/photo13.jpg")
        .carousel-cell
          img(src="images/photo14.jpg")
        .carousel-cell
          img(src="images/photo15.jpg")
        .carousel-cell
          img(src="images/photo1.jpg")
        .carousel-cell
          img(src="images/photo2.jpg")
        .carousel-cell
          img(src="images/photo3.jpg")
        .carousel-cell
          img(src="images/photo4.jpg")
        .carousel-cell
          img(src="images/photo5.jpg")
        .carousel-cell
          img(src="images/photo6.jpg")
        .carousel-cell
          img(src="images/photo7.jpg")
        .carousel-cell
          img(src="images/photo-7.jpg")
            
    section#Contact
      h2.section-heading Contact
      .contact-container
        img(src="images/logo-white.png")
        a(href="mailto:evan@driftlessmgmt.com").booking-btn book us for an event
        p You can contact us 
          a(href="") here 
          | to book for your next private party, big event, wedding, or other affairs! We are available as acoustic trio or full band for bigger events.
        .contact-social
          a(href="https://www.facebook.com/laskatheband/?fref=ts", target="blank").ion-social-facebook
          a(href="https://www.instagram.com/laskatheband/", target="blank").ion-social-instagram
          a(href="https://twitter.com/laskatheband", target="blank").ion-social-twitter
          a(href="https://www.youtube.com/channel/UCGY04xgSY0ol51_B8MG-rug", target="blank").ion-social-youtube
          a(href="https://itunes.apple.com/us/artist/laska/id305321834", target="blank").ion-music-note
          
    footer
      .footer-nav
        a(href="#Home").page-scroll Home
        a(href="#About").page-scroll About
        a(href="#Shows").page-scroll Shows
        a(href="#Music").page-scroll Music
        a(href="#Photos").page-scroll Photos
        a(href="#Contact").page-scroll Contact
      .footer-ref
        span Photography by Kaitlin Hoefer
        span Copyright LASKA © 2016
        span Website by Noah Delagardelle
        
    script(src="https://code.jquery.com/jquery-3.1.0.min.js")
    script(src='https://npmcdn.com/flickity@2/dist/flickity.pkgd.js')
    script(src='js/jquery.easing.min.js')
    script(src="js/functions.js")
