@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
* {
  box-sizing: border-box;
}

textarea, input, button {
  outline: none;
}

html {
  font-family: 'Lato', sans-serif;
}

.sr-only {
  display: none;
}

h2 {
  margin: 50px 0 50px;
}

.side-nav {
  display: none;
  position: fixed;
  height: 50px;
  z-index: 1;
  top: 40vh;
  margin: 1.2vw;
  opacity: .2;
  text-transform: uppercase;
  font-size: .7em;
}

.side-nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding-right: 5px;
}

.nav-left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -20px;
}

.nav-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -60px;
}

.fog-container {
  position: relative;
  height: 600px;
  background-image: url(../../images/fog-bg.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .fog-container {
    margin-top: 50px;
  }
}

@media (min-width: 1440px) {
  .fog-container {
    height: 800px;
  }
}

@media (max-width: 425px) {
  .fog-container {
    height: 400px;
    background-attachment: inherit;
  }
  .fog-container .logo {
    height: 60px;
  }
}

.logo {
  opacity: 0;
  height: 80px;
  width: 100%;
  background-image: url(../../images/laska-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -40px;
}

.header-nav {
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.header-nav .nav-section a {
  margin: 0px 1.5vw;
}

.header-nav a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  opacity: 80%;
  -webkit-transition: .1s;
  transition: .1s;
}

.header-nav a:hover {
  color: black;
}

.header-nav .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 1.5vw;
}

.header-nav .nav-logo {
  display: none;
  height: 20px;
}

.header-nav .nav-logo span {
  letter-spacing: .2em;
}

.header-nav .nav-menu-trigger {
  display: none;
}

@media (max-width: 768px) {
  .header-nav {
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(26, 34, 44, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 100;
  }
  .header-nav .main-nav {
    display: block;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
  }
  .header-nav .main-nav.menu-active {
    opacity: 1;
    pointer-events: auto;
  }
  .header-nav .nav-section {
    display: block;
  }
  .header-nav .nav-section a {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 10px 0px;
  }
  .header-nav .nav-logo {
    display: block;
    line-height: 50px;
    font-size: 18px;
    margin-left: 20px;
  }
  .header-nav .nav-menu-trigger {
    display: block;
    position: absolute;
    border: none;
    height: 30px;
    width: 30px;
    right: 20px;
    top: 10px;
    padding: 0px;
    background: transparent;
  }
  .header-nav .nav-menu-trigger span {
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(26, 34, 44, 0.6);
    margin: 3px 0px;
    float: right;
  }
  .header-nav .nav-menu-trigger span:nth-child(1) {
    width: 90%;
  }
  .header-nav .nav-menu-trigger span:nth-child(2) {
    width: 85%;
  }
}

.section-heading {
  font-weight: 300;
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;
}

#About {
  background: #435770;
  color: white;
  display: inline-block;
  width: 100vw;
  position: relative;
}

.about-contianer {
  max-width: 620px;
  margin: 0 auto;
}

.about-contianer p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}

@media (min-width: 425px) {
  .about-contianer h2 {
    margin-top: 50px;
  }
}

@media (max-width: 786px) {
  .about-contianer p {
    margin: 50px 20px 0;
  }
}

.brail-container {
  width: 200px;
  margin: 50px auto 50px;
  position: relative;
}

.brail-container img {
  width: 200px;
  -webkit-transition: 800ms ease;
  transition: 800ms ease;
}

.brail-container img:hover {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
}

.laska-letters {
  position: absolute;
  top: 0;
  left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 40px;
  font-size: 35px;
  font-weight: 300;
}

.laska-letters span {
  opacity: 0;
  -webkit-transition: 800ms;
  transition: 800ms;
}

.laska-letters span.morse-display {
  opacity: .7;
}

#Shows {
  background: white;
  display: inline-block;
  width: 100vw;
}

.shows-container {
  max-width: 620px;
  margin: 0 auto;
}

.google-content {
  padding-left: 20px;
  display: block;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
}

@media (max-width: 425px) {
  .google-content {
    padding: 0px;
    height: 600px;
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
}

.facebook-events-btn {
  margin: 20px auto 50px;
  display: block;
  width: 200px;
  text-align: center;
  background: #C2D0F4;
  line-height: 40px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: white;
  text-decoration: none;
}

.facebook-events-btn:hover {
  box-shadow: 0 3px 20px 0 rgba(194, 208, 244, 0.8);
}

.band-camp-btn {
  display: block;
  width: 200px;
  height: 40px;
  margin: 50px auto 100px;
  text-align: center;
  background: transparentize;
  line-height: 35px;
  border: 2px solid #C2D0F4;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: #C2D0F4;
  text-decoration: none;
}

.band-camp-btn:hover {
  box-shadow: 0 0px 20px 0 rgba(158, 204, 204, 0.3);
}

#Music {
  background: #435770;
  color: white;
  display: inline-block;
  width: 100vw;
}

.music-container {
  max-width: 620px;
  margin: 0 auto;
}

.music-container iframe {
  margin-bottom: 30px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.music-container iframe:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 40px 0 rgba(0, 0, 0, 0.3);
}

.music-video {
  margin: 50px auto 0;
  display: block;
  width: 100%;
  height: 337.5px;
}

.soundcloud {
  display: block;
  width: 100%;
  height: 200px;
}

@media (max-width: 600px) {
  #Music iframe {
    width: 100%;
    height: calc((100vw)/1.77);
  }
  #Music .soundcloud {
    padding: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  #Music .band-camp-btn {
    margin-bottom: 50px;
  }
}

#Photos {
  z-index: 10;
  position: relative;
  height: 600px;
}

.carousel {
  background: #EEE;
  height: 600px;
}

.carousel-cell {
  margin-right: 2px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 600px;
}

@media (max-width: 768px) {
  #Photos {
    height: 300px;
  }
  .carousel {
    height: 300px;
  }
  .carousel-cell img {
    height: 300px;
  }
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill: white;
}

.flickity-prev-next-button.no-svg {
  color: white;
}

.flickity-page-dots {
  display: none;
  bottom: 0px;
}

#Contact {
  background: #435770;
  color: white;
  display: inline-block;
  width: 100vw;
}

.contact-container {
  max-width: 600px;
  margin: 50px auto 0;
  text-align: center;
}

.contact-container img {
  width: 264px;
}

.contact-container p {
  display: none;
  font-size: 16px;
  font-weight: 300;
  margin-top: 50px;
}

.contact-container a {
  color: white;
  font-weight: 400;
}

.booking-btn {
  display: block;
  margin: 40px auto 40px;
  border: 2px solid white;
  width: 300px;
  height: 40px;
  line-height: 35px;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.booking-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.2), 0 0px 20px 1px rgba(250, 250, 250, 0.1);
}

.contact-social {
  margin-top: 50px;
  margin-bottom: 100px;
}

.contact-social a {
  color: white;
  font-size: 40px;
  margin: 0 20px 0;
}

.contact-social a:hover {
  color: rgba(250, 250, 250, 0.8);
}

@media (max-width: 425px) {
  #Contact h2 {
    margin-top: 50px;
  }
  #Contact .contact-social {
    margin-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .contact-social a {
    font-size: 30px;
  }
}

footer {
  height: 300px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

footer .footer-nav {
  margin-bottom: 50px;
}

footer .footer-nav a {
  margin: 0 20px 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

footer .footer-nav a:hover {
  color: #1A222C;
}

footer .footer-ref span {
  margin: 0 30px 0;
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 600px) {
  footer {
    height: 200px;
    text-align: center;
  }
  footer .footer-nav {
    display: none;
  }
  footer .footer-ref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-ref span {
    margin: 10px;
  }
}
