// ELEMENTS //

// Mobile
@media only screen and (max-width: 767px){
}
// Tablet
@media only screen and (min-width: 768px) and (max-width: 1023px){
}
// Desktop
@media only screen and (min-width: 1024px){
}

:root {
	font-size: calc(0.5em + 1vw);
}

@media only screen and (max-width: 767px){
  :root {
  	font-size: calc(0.5em + 2vw);
  }
}

body {
  font-family: 'libre_baskervilleregular', serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: $black;
}

h2 {
	font-family: 'libre_franklinthin', sans-serif;
	font-size: 1.953em;
}

a {
  color: $black;
	//text-decoration: none
}

.src-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

header {
  position: fixed;
  top: 0;
  font-family: 'libre_franklinregular', sans-serif;
  font-size: 1.25em;
  width: 100vw;
}

nav ul {
	list-style: none;
	padding: 0;
	a {
		text-decoration: none;
	}
}

@media screen and (max-width: 768px) {
	nav {
	  ul {
			position: fixed;
			width: 100%;
			background-color: rgba(#fff,.9);
	    overflow: auto;
			margin: 0;
			z-index: 10;
			top: 2.5em;
			opacity: 0;
			pointer-events: none;
			padding: 1em 0;
			transform: translateY(-1em);
			transition: 250ms ease;
			&.on {
				opacity: 1;
				pointer-events: painted;
				transform: translateY(0);
			}
	    li {
	      width: 100%;
	      a {
					display: block;
	        width: 100%;
					padding: .5em 0;
	      }
	    }
	    a {
	      text-align: center;
	      text-decoration: none;
	    }
	  }
	}
	.mobile-nav {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 100;
	  background-color: #fff;
	  box-shadow: 0 0 1em rgba(#000,.1);
	  height: 2.5em;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding-left: 0.8em;
	  padding-right: 0.8em;
	  .nav-logo {
			text-decoration: none;
	    letter-spacing: .09em;
	  }
	}
	.nav-toggle {
	  width: 1.5em;
	  border: none;
	  padding: 0;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  background-color: transparent;
	  span {
	    display: block;
	    width: 1.5em;
	    height: .14em;
	    background-color: $black;
	    margin: .15em 0;
			border-radius: 1em;
			opacity: .8;
	  }
	}
}

@media screen and (min-width: 768px) {
	.mobile-nav {
		display: none;
	}
	nav {
		font-size: .8em;
		overflow: auto;
		ul {
			list-style: none;
			width: 60vw;
			height: 4em;
			line-height: 4em;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
		}
		li {
		  display: inline-block;
		}
		a {
			position: relative;
		  display: block;
			padding: 0 .5em;
		}
		a:before, a:after {
		  content: '';
		  position: absolute;
		  width: 0%;
		  height: .12em;
		  top: 50%;
		  margin-top: -0.5px;
		  background: $black;
		}
		a:before {
		  left: -2.5px;
		}
		a:after {
		  right: 2.5px;
		  background: $black;
		  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
		}
		a:hover:before {
		  background: $black;
		  width: 100%;
		  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
		}
		a:hover:after {
		  background: transparent;
		  width: 100%;
		  transition: 0s;
		}
	}
}

.home {
	overflow: auto;
	background-color: $blue-main;
	background-image: url('../../images/fog-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 30em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.links {
	font-size: 1.953em;
	padding-top: 1.25em;
	width: 10em;
	display: flex;
	justify-content: space-around;
	a {
		text-decoration: none;
	}
}

.logo {
  height: 4em;
  width: 100%;
  background-image: url('../../images/laska-logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.about {
	background-color: $blue-main;
	overflow: visible;
	color: #fff;
}

.hero-album {
	display: block;
	width: calc(100% - 1.6em);
	height: 40em;
	margin: 0 auto 0;
	transform: translateY(-4em);
}
