// ELEMENTS //

// Mobile
@media only screen and (max-width: 767px){
}
// Tablet
@media only screen and (min-width: 768px) and (max-width: 1023px){
}
// Desktop
@media only screen and (min-width: 1024px){
}

:root {
	font-size: calc(0.5em + 1vw);
}

@media only screen and (max-width: 767px){
  :root {
  	font-size: calc(0.5em + 2vw);
  }
}

body {
  font-family: 'libre_baskervilleregular', serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: $black;
}

h2 {
	font-family: 'libre_franklinthin', sans-serif;
	font-size: 1.953em;
	text-align: center;
}

a {
  color: $black;
}

.src-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

header {
  position: fixed;
  top: 0;
  font-family: 'libre_franklinregular', sans-serif;
  font-size: 1.25em;
  width: 100vw;
	z-index: 100;
}

nav ul {
	list-style: none;
	padding: 0;
	a {
		text-decoration: none;
	}
}

iframe {
	border: none;
	border:0;
}

@media screen and (max-width: 768px) {
	nav {
	  ul {
			position: fixed;
			width: 100%;
			background-color: rgba(#fff,.9);
	    overflow: auto;
			margin: 0;
			z-index: 10;
			top: 2.5em;
			opacity: 0;
			pointer-events: none;
			padding: 1em 0;
			transform: translateY(-1em);
			transition: 250ms ease;
			&.on {
				opacity: 1;
				pointer-events: painted;
				transform: translateY(0);
			}
	    li {
	      width: 100%;
	      a {
					display: block;
	        width: 100%;
					padding: .5em 0;
	      }
	    }
	    a {
	      text-align: center;
	      text-decoration: none;
	    }
	  }
	}
	.mobile-nav {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 100;
	  background-color: #fff;
	  box-shadow: 0 0 1em rgba(#435770,.2);
	  height: 2.5em;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding-left: 0.8em;
	  padding-right: 0.8em;
	  .nav-logo {
			text-decoration: none;
	    letter-spacing: .09em;
	  }
	}
	.nav-toggle {
	  width: 1.5em;
	  border: none;
	  padding: 0;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  background-color: transparent;
	  span {
	    display: block;
	    width: 1.5em;
			height: 2px;
	    background-color: $black;
	    margin: .15em 0;
			border-radius: 1em;
	  }
		div {
			display:  none;

			position: absolute;
			right: 2.8em;
			opacity: .8;
			//text-transform: uppercase;
		}
	}
}

@media only screen and (min-width: 768px) {
	.mobile-nav {
		display: none;
	}
	nav {
		overflow: auto;
		font-size: .8em;
		ul {
			list-style: none;
			width: 70vw;
			height: 4em;
			line-height: 4em;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
		}
		li {
		  display: inline-block;
		}
		a {
			position: relative;
		  display: block;
			padding: 0 .5em;
		}
		a:before, a:after {
		  content: '';
		  position: absolute;
		  width: 0%;
		  height: .12em;
		  top: 50%;
		  margin-top: -0.5px;
		  background: $black;
		}
		a:before {
		  left: -2.5px;
		}
		a:after {
		  right: 2.5px;
		  background: $black;
		  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
		}
		a:hover:before {
		  background: $black;
		  width: 100%;
		  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
		}
		a:hover:after {
		  background: transparent;
		  width: 100%;
		  transition: 0s;
		}
	}
}

@media only screen and (min-width: 1024px) {
	nav {
		font-size: .6em;
	}
}

@media only screen and (min-width: 768px) {
	nav {
		font-size: .6em;
		transition: 250ms ease;
		height: 6em;
		ul {
			width: 50vw;
			line-height: 6em;
			transition: 250ms ease;
			&.ul-scrolled {
				line-height: 4em;
				width: 45vw;
			}
		}
		&.scrolled {
			background-color: white;
			box-shadow: 0 0 1em rgba(#435770,.2);
			height: 4em;
		}
	}
}

.home {
	overflow: auto;
	background-color: $blue-main;
	background-image: url('../../images/fog-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 30em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
  height: 4em;
  width: 100%;
  background-image: url('../../images/laska-logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.about {
	position: relative;
	background-color: $blue-main;
	overflow: visible;
	color: #fff;
	padding-bottom: 10em;
	p {
		max-width: 42em;
		line-height: 1.5;
		margin: 0 auto;
		padding-left: .8em;
		padding-right: .8em;
		padding-bottom: .8em;
	}
}

.hero-album {
	display: block;
	width: calc(100% - 1.6em);
	height: 450px;
	margin: 0 auto 0;
	transform: translateY(-4em);
}

@media only screen and (min-width: 1024px){
	.hero-album {
		width: 50em;
	}
}

.morse-logo {
	display: none;
	width: calc(100% - 1.6em);
	margin: 0 auto 0;
	opacity: .8;
	padding-top: 5em;
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.morse-logo {
		display: block;
		width: 15em;
	}
}
// Desktop
@media only screen and (min-width: 1024px){
	.morse-logo {
		display: block;
		width: 15em;
	}
}

.shows {
	background-color: #fff;
	overflow: auto;
	color: $blue-main;
	h2 {
		padding: 2em 0;
	}
	a {
		color: $blue-main;
	}
}

.show-list {
	display: block;
	border: none;
	width: 95%;
	margin: 0 auto;
	height: 900px;
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.show-list {
		width: 552px;
		height: 600px;
		margin: 0 auto;
	}
}
// Desktop
@media only screen and (min-width: 1024px){
	.show-list {
		width: 552px;
		height: 600px;
		margin: 0 auto 2em;
	}
}

.music {
	background-color: $blue-main;
	overflow: auto;
	color: $blue-secondary;
	padding-bottom: 5em;
	h2 {
		margin: 2em 0;
	}
	a {
		text-align: center;
		color: $blue-secondary;
	}
}

// Mobile
@media only screen and (max-width: 767px){
	.music-video {
		width: 100%;
	  height: calc((100vw)/1.77);
		margin: 1em 0;
	}
}

@media only screen and (min-width: 768px) {
	.music-container {
		max-width: 42em;
		margin: 0 auto;
	}
	.music-video {
		display: block;
		width: 42em;
		height: calc((42em)/1.77);
		margin: 2em 0;
	}
	.soundcloud {
		height: 10em;
		margin: 2em 0;
	}
	.music-links {
		width: 20vw;
	}
}

.soundcloud {
	width: 100%;
	margin: 1em 0;
}

.links {
	font-size: 1.953em;
	width: 10em;
	padding-bottom: 2em;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	a {
		color: $blue-secondary;
		text-decoration: none;
		transition: 100ms ease;
		&:hover {
			color: darken($blue-secondary,90%)
		}
	}
}

@supports (display:grid) {
	@media only screen and (min-width: 768px) {
		.music-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
		  grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-column-gap: .8em;
			grid-row-gap: .8em;
			grid-template-areas:
				"featured featured"
				"featured featured"
				"second third"
				"fourth fith";
		}
		.music-video {
			display: block;
			width: 100%;
			height: calc((20.5em)/1.77);
			margin: 0;
		}
		.soundcloud {
			margin: 0;
			height: calc((20.5em)/1.77);
		}
		iframe:first-child {
			grid-area: featured;
			height: calc((42em)/1.77);
		}
		iframe:nth-child(2) {
			grid-area: second;
		}
		iframe:nth-child(3) {
			grid-area: third;
		}
		iframe:nth-child(4) {
			grid-area: fourth;
		}
		iframe:nth-child(5) {
			grid-area: fith;
		}
	}
}

.lyrics {
	background-color: $black;
	overflow: auto;
	color: $blue-secondary;
	text-align: center;
	p {
		padding: 0 2em;
		line-height: 1.5;
	}
}

.lyrics-carousel {
	max-width: 42em;
	margin: 2em auto 5em;
	//border: 2px solid $blue-secondary;
	.carousel-cell {
		width: 100%;
	}
	img {
		width: 100%;
	}
	.flickity-page-dots {
		bottom: -22px;
	}
	.flickity-page-dots .dot {
		height: 4px;
		width: 40px;
		margin: 0;
		border-radius: 0;
		background-color: $blue-secondary;
	}
}

@media only screen and (max-width: 767px){
	.lyrics-carousel {
		.flickity-page-dots .dot {
			display: none;
		}
	}
}

.photos {
	height: 30em;
	overflow: auto;
	background-color: #ffffff;
}

.photos-carousel {
	height: 30em;
	.carousel-cell {
		height: 30em;
		img {
			height: 30em;
		}
	}
	.flickity-prev-next-button {
		background: rgba(255, 255, 255, 0.50);
		transition: 100ms;
		&:hover {
			background: #ffffff;
		}
	}
  .arrow {
		fill: white;
		&.no-svg {
			color: white;
		}
	}
	.flickity-page-dots {
		display: none;
		bottom: 0px;
	}
}

@media only screen and (max-width: 767px){
	.photos {
		height: 20em;
		padding: none;
	}
	.photos-carousel {
		height: 20em;
		.carousel-cell {
			height: 20em;
			img {
				height: 20em;
			}
		}	
	}
}

.contact {
	background-color: $blue-main;
	overflow: auto;
	color: #ffffff;
	.links {
		a {
			padding: 0 .4em;
			&:hover {
				color: #ffffff;
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.contact .links {
		display: flex;
		flex-wrap: wrap;
		width: 8em;
		a {
			padding: .5em;
		}
	}
}

.contact-logo {
	display: block;
	width: 20em;
	margin: 3em auto;
}

.contact-btn {
	background-color: #ffffff;
	color: $blue-main;
	display: block;
	text-align: center;
	width: 15em;
	margin: 0 auto 3em;
	padding: 1em;
	text-decoration: none;
	font-family: 'libre_franklinregular', sans-serif;
	text-transform: uppercase;
	transition: 250ms ease;
	&:hover {
		box-shadow: 0 0 4em rgba(194, 208, 244, 0.20);
	}
}

footer {
	padding: 2em 0;
	font-size: .8em;
	text-align: center;
	color: $blue-main;
	a {
		color: $blue-main;
	}
}

// Tablet
@media only screen and (min-width: 768px){
	footer {
		display: flex;
		justify-content: space-between;
		width: 42em;
		margin: 0 auto;
	}
}